<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://apitest255.database.windows.net:1433;DatabaseName=apitest</property>
        <property name="connection.username">sqladmin@apitest255</property>
        <property name="connection.password">=Oc@"bQ"L"s#:N~</property>
        <property name="connection.pool_size">100</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="sslProtocol">TLSv1</property>
        <mapping class="com.fourfinance.loan.sample.lendmoney.model.IPAddressEntity"/>
        <mapping class="com.fourfinance.loan.sample.lendmoney.model.LoanApplicationDetailsEntity"/>
        <mapping class="com.fourfinance.loan.sample.lendmoney.model.LoanHistoryEntity"/>
    </session-factory>
</hibernate-configuration>
